
<mat-toolbar class="top-bar">
  <!--
<span class="fill-remaining-space"></span>
  -->

  <span class="logo">Carrinho de compras</span>

</mat-toolbar>
<mat-drawer-container class="drawer-container">
 
  <mat-drawer mode="side" opened class="drawer-content">
      <app-side-menu></app-side-menu>
  </mat-drawer>
  
  <mat-drawer-content class="main-content">
      <mat-card class="content-card">
        <router-outlet></router-outlet>
      </mat-card>
  </mat-drawer-content>

</mat-drawer-container>
