.drawer-container {
    width: 100vw;
    height: 100vh;
}

.drawer-content{
    width:10vw;
    background: #1c1d22;
}

.main-content{
    background: #bdbdbd;
}

/*top bar*/
.top-bar{
    background: #1c1d22;
    color: #bdbdbd;
    height: 10vh;
    width: 100vw;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.logo {
    font-family: 'Audiowide', cursive;
}

.content-card{
    width: 70%;
    margin: 5% 0 0 15%;
    padding: 50px;
}