<mat-toolbar class="top-bar">
  <span>Carrinho de compras</span>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
 
  <mat-drawer mode="side" opened class="drawer-content">
    
    <nav class="side-menu"> 
      <div>
       <ul> 
         <li>Usuarios</li>
         <li>Itens</li>
         <li>Carrinhos</li>
       </ul>  
      </div>
    </nav>   

  </mat-drawer>
  
  <mat-drawer-content class="main-content">
  
  </mat-drawer-content>

</mat-drawer-container>


<router-outlet></router-outlet>