<nav class="side-menu"> 
    
    <a routerLink="/usuarios" routerLinkActive="active" class="menu__link">
        <div class="item-container">
            <mat-icon aria-hidden="false" aria-label="Example home icon">credit_card</mat-icon>
            <span> Comprar</span>
        </div>
    </a>
    
    <a routerLink="/usuarios" routerLinkActive="active" class="menu__link">
        <div class="item-container">
            <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
            <span> Usuários</span>
        </div>
    </a>
    
    <a routerLink="/usuarios" routerLinkActive="active" class="menu__link">
        <div class="item-container">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
            <span> Itens</span>
        </div>
    </a>
    
    <a routerLink="/usuarios" routerLinkActive="active" class="menu__link">
        <div class="item-container">
            <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
            <span> Carrinhos</span>
        </div>
    </a>

</nav>   